


/*
work Section style
=====================*/

/*.slides{
    width:100%;
    height: auto;
}*/
/*#owl-demo .item{
    width:350px;
    height:350px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 300px;
}*/



.main_product .carousel-control{
    background-color: #fff;
    color:#333;
    border-radius: 50%;
    width:50px;
    height: 50px;
    line-height: 50px;
    font-size:1rem;
    text-align: center;
    top:30%;
}
.main_product .carousel-control:hover{
    background-color: rgb(255, 181, 6);
    color:#fff;
}
.main_product .carousel-control.left{
    left:-1.4%;
    box-shadow: -1px 0px 0px 0px;
}
.main_product .carousel-control.right {
    right:-1.4%;
    box-shadow: 1px 0px 0px 0px;
}

.main_product .port_img{
    position: relative;
    overflow: hidden;
}

.main_product .port_img img{
    width:100%;
}
.main_product .port_overlay{
    width:100%;
    height: 100%;
    background-color: rgba(255,182,6,0.60);
    position: absolute;
    left:0;
    top:0;
    padding-top: 35%;
    opacity: 0;
    transition: all 0.2s;
}
.main_product .port_overlay a{
    width:40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color:#fff;
    border:1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size:2rem;
    bottom: -150px;
    position: relative;
}
.main_product .port_img:hover .port_overlay a{
    bottom:0;
}
.main_product .port_img:hover .port_overlay{
    opacity: 1;
}


